/* * {
    padding: 0;
    margin: 0
} */

.container-sidebar {
    height: 78.5vh;
    background-color: rgba(111, 137, 127, 0.352);
    position: relative
    
}

.container-sidebar-user {
    height: 78.5vh;
    background-color: rgba(60, 170, 161, 0.365);
    position: relative
    
}
.sidebar{
    position:relative;
    align-items: center;


}

.container-sidebar-user li{
    color: #dab513;
    float:right;  
}

.container-sidebar-user .sidebar{
    position: relative;
    background-color: rgb(29, 99, 95);
    height: 100vh;
    width: 90px;
    z-index: 10;
    padding-left: 10px;
    text-align: center;
    box-shadow: 0px 15px 30px rgba(214, 154, 154, 0.1)

}



.container-sidebar .sidebar {
    position: relative;
    background-color: rgba(28, 157, 129, 0.6);
    height: 78.5vh;
    width: 170px;
    z-index: 10;
    padding-left: 0.1px;
    padding-right: 30px;
    text-align: center;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1)
}

.sidebar li:nth-child(1) {
    padding: 10px 7px
}

.container-sidebar.sidebar li:hover:nth-child(1) {
    padding: 10px 1px;
    background-color: transparent;
    color: rgb(48, 43, 43) 
}



.sidebar li {
    padding:5px 10px 8px 1px;
    cursor: pointer;
    transition: all 0.5s;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: column
 
}

.sidebar li span:nth-child(1) {
    font-size: 15px
}

.sidebar li span:nth-child(2) {
    font-size: 12px
}

.sidebar li:hover {
    background-color: #f5eded;
    padding: 2px
}

.container-sidebar .content {
    padding-left: 60px
}
